.current-temp {
    display: flex;
    align-items: center;
    &__values {
        position: relative;
    }
    &__count {
        font-size: 72px;
    }
    &__degree {
        width: 8px;
        height: 8px;
        position: absolute;
        border: 3px solid #fff;
        border-radius: 50%;
        top: 10px;
        margin-left: 10px;
        background: none;
    }
    &__celsius {
        font-size: 64px;
        padding-left: 32px;
    }
}