.open-modal-btn {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 48px;
    height: 48px;
    background: none;
    border: none;
    cursor: pointer;
    img {
        width: 100%;
    }
}